{% include 'header.html.twig' %}

{% for lecon in lecons %}
    <div>
        <h2>{{ lecon.name }}</h2>
        <h3>prix : {{ lecon.price }}</h3>
        <a href="{{ path('app_cart_remove', {'type': 'lecon', 'id': lecon.id}) }}">
            <button>Retirer du panier</button>
        </a>
    </div>
{% endfor %}

{% for formation in formations %}
    <div>
        <h2>{{ formation.name }}</h2>
        <h3>prix : {{ formation.price }}</h3>
            <a href="{{ path('app_cart_remove', {'type': 'formation', 'id': formation.id}) }}">
        <button>Retirer du panier</button>
        </a>
    </div>
{% endfor %}