{% include 'header.html.twig' %}




{% if app.user %}
    {% if app.user.isVerified or 'ROLE_ADMIN' in app.user.roles %}
    {# if user is logged in and email verified #}
    {# He can add items to the cart #}

        <h1> Bienvenue dans le shop ! </h1>
        <hr>

            {% for formation in formations %}
                {% if formation.id not in formationsOwned %}
                    {# displays the training and its lessons #}
                    {# "not in formationsOwned" = does not display if the user already has it #}
                    <h2>{{ formation.name }} // {{ formation.id }} </h2>
                    <h2> {{ formation.price }} </h2>
                    <a href="{{ path('app_cart_add', {'type': 'formation', 'id': formation.id}) }}">
                        <button>Ajouter toute la formation au panier</button>
                    </a>
                {% endif %}

                {# displays lessons #}
                        {% for lecon in lecons %}
                            {% if lecon.formationId.id == formation.id and lecon.id not in leconsOwned %}
                            {# "and lecon.id not in leconsOwned" = does not display if the user already has it #}
                                <h3>{{ lecon.name }} // {{ lecon.id }}</h3>
                                <h3>{{ lecon.price }}</h3>
                                <a href="{{ path('app_cart_add', {'type': 'lecon', 'id': lecon.id}) }}">
                                    <button>Ajouter la leçon au panier</button>
                                </a>
                            {% endif %}  
                        {% endfor %}
                <br><hr><br>
            {% endfor %}





    {% else %}
    {# if user is logged in and email not verified #}
    {# He can't add items to the cart #}
    {# He can only see the products #}

        <h1> Bienvenue dans le shop ! </h1>
        <h3>Pour acheter une formation, merci de vérifier votre Mail</h3>
        <hr>

            {% for formation in formations %}

                {# displays the training and its lessons #}
                <h2>{{ formation.name }} // {{ formation.id }} </h2>
                <h2> {{ formation.price }} </h2>

                {# displays lessons #}
                        {% for lecon in lecons %}
                            {% if lecon.formationId.id == formation.id %}
                                <h3>{{ lecon.name }} // {{ lecon.id }}</h3>
                                <h3>{{ lecon.price }}</h3>
                            {% endif %}  
                        {% endfor %}
                <hr>
            {% endfor %}




    {% endif %}
{% else %}
{# if user is not logged #}
{# He can't add items to the cart #}
{# He can only see the products #}

    <h1> Bienvenue dans le shop ! </h1>
    <h3>Pour acheter une formation, merci de créer un compte ou de vous connecter</h3>
    <hr>

        {% for formation in formations %}

            {# displays the training and its lessons #}
            <h2>{{ formation.name }} // {{ formation.id }} </h2>
            <h2> {{ formation.price }} </h2>

            {# displays lessons #}
                    {% for lecon in lecons %}
                        {% if lecon.formationId.id == formation.id %}
                            <h3>{{ lecon.name }} // {{ lecon.id }}</h3>
                            <h3>{{ lecon.price }}</h3>
                        {% endif %}  
                    {% endfor %}
            <hr>
        {% endfor %}
{% endif %}


