{% include 'header.html.twig' %}




{% if app.user %}
    {% if app.user.isVerified or 'ROLE_ADMIN' in app.user.roles %}
    {# if user is logged in and email verified #}
    {# He can add items to the cart #}

        <h1> Bienvenue dans le shop ! </h1>
        <hr>
        <div class="shop_big_bloc">           {# Style 1 ---------------------------------------------- #}
            {% for formation in formations %}
                <div class="shop_bloc">            {# Style 2 ---------------------------------------------- #}
                {% if formation.id not in formationsOwned %}
                    {# displays the training and its lessons #}
                    {# "not in formationsOwned" = does not display if the user already has it #}
                    <h4>{{ formation.name }} // {{ formation.id }}</h4>
                    <h4> {{ formation.price }} €</h4>
                    <a href="{{ path('app_cart_add', {'type': 'formation', 'id': formation.id}) }}">
                        <button>Ajouter toute la formation au panier</button>
                    </a><hr>

                {% endif %}

                {# displays lessons #}
                        {% for lecon in lecons %}
                            {% if lecon.formationId.id == formation.id and lecon.id not in leconsOwned %}
                            {# "and lecon.id not in leconsOwned" = does not display if the user already has it #}
                                <p>{{ lecon.name }} // {{ lecon.id }}</p>
                                <p>{{ lecon.price }} €</p>
                                <a href="{{ path('app_cart_add', {'type': 'lecon', 'id': lecon.id}) }}">
                                    <button>Ajouter la leçon au panier</button>
                                </a>
                            {% endif %}  
                        {% endfor %}
                </div>          {# Style 3 ---------------------------------------------- #}
            {% endfor %}
        </div>       {# Style 4 ---------------------------------------------- #}
        <br>




    {% else %}
    {# if user is logged in and email not verified #}
    {# He can't add items to the cart #}
    {# He can only see the products #}

        <h1> Bienvenue dans le shop ! </h1>
        <h3>Pour acheter une formation, merci de vérifier votre Mail</h3>
        <hr>
        <div class="shop_big_bloc">           {# Style 1 ---------------------------------------------- #}

            {% for formation in formations %}
                <div class="shop_bloc">            {# Style 2 ---------------------------------------------- #}

                {# displays the training and its lessons #}
                <h4>{{ formation.name }} // {{ formation.id }} </h4>
                <h4> {{ formation.price }} € </h4>

                {# displays lessons #}
                        {% for lecon in lecons %}
                            {% if lecon.formationId.id == formation.id %}
                                <p>{{ lecon.name }} // {{ lecon.id }}</p>
                                <p>{{ lecon.price }} €</p>
                            {% endif %}  
                        {% endfor %}
                </div>          {# Style 3 ---------------------------------------------- #}
            {% endfor %}
        </div>       {# Style 4 ---------------------------------------------- #}




    {% endif %}
{% else %}
{# if user is not logged #}
{# He can't add items to the cart #}
{# He can only see the products #}

    <h1> Bienvenue dans le shop ! </h1>
    <h3>Pour acheter une formation, merci de créer un compte ou de vous connecter</h3>
        <hr>
        <div class="shop_big_bloc">           {# Style 1 ---------------------------------------------- #}

        {% for formation in formations %}
                <div class="shop_bloc">            {# Style 2 ---------------------------------------------- #}

            {# displays the training and its lessons #}
            <h4>{{ formation.name }} // {{ formation.id }} </h4>
            <h4> {{ formation.price }} € </h4>

            {# displays lessons #}
                    {% for lecon in lecons %}
                        {% if lecon.formationId.id == formation.id %}
                            <p>{{ lecon.name }} // {{ lecon.id }}</p>
                            <p>{{ lecon.price }} €</p>
                        {% endif %}  
                    {% endfor %}
                </div>          {# Style 3 ---------------------------------------------- #}
        {% endfor %}
        </div>       {# Style 4 ---------------------------------------------- #}

{% endif %}




<style>

    .shop_big_bloc a {
        width: 90%;
        margin-bottom: 20px;
    }
    .shop_big_bloc h4, .shop_big_bloc p {
                width: 90%;
    }

    .shop_big_bloc button {
        background-color:#0074c7;
        color:white;
        height: 120%;
        border-radius:10px;
    }
    .shop_big_bloc button:hover {
        background-color:#00497c;
    }
    .shop_big_bloc button:active {
        background-color:#384050;
    }

    .shop_big_bloc {
        display:flex;
    }
    .shop_bloc {
        display:flex;
        flex-direction:column;
        align-items:center;
        border:solid #82b864;

        background-color: #82b864;
        margin: auto;
        width: 15%;
        height: 700px;
        justify-content: center;
        border-radius:10px;

    }


</style>