{% include 'header.html.twig' %}

<h1> Bienvenue dans le shop ! </h1>
<hr>

{% if app.user %}
{# if user is logged in #}
{# He can add items to the cart #}

    {% for formation in formations %}
        <h2>{{ formation.name }} // {{ formation.id }} </h2>
        <h2> {{ formation.price }} </h2>
                {% for lecon in lecons %}
                    {% if lecon.formationId.id == formation.id %}
                        <h3>{{ lecon.name }} // {{ lecon.id }}</h3>
                        <h3>{{ lecon.price }}</h3>
                    {% endif %}  
                {% endfor %}
        <hr>
    {% endfor %}


{% else %}
{# if user is not logged in #}
{# He can't add items to the cart #}
{# He can only see the products #}

{% endif %}